/* for future project
main hearder height 96px 
bar 1 56px
bar 2 40px
*/

/* navigation bar */
.navbar01 {
  height: 56px;
  width: 100%;
  max-width: 2000px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
  z-index: 900;
}

.navbar01.sticky {
  background-color: white;
  border-bottom: 1px solid #97a3be;
}

.navsec01 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav_logo {
  width: 202px;
  height: 35px;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 3px 12px rgba(0,0,0,0.80);
  backdrop-filter: blur(4px);
  opacity: 1;
  height: 100vh;
  width: 40%;
  min-width: 300px;
  position: fixed;
  top: 0;
  right: -400px;
  padding: 56px 20px 0px 20px;
  transition: 0.3s ease;
  border-radius: 8px 0px 0px 8px;
  z-index: 1100;
}

.nav_menu.active {
  right: 0;
}

.off_menu {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.off_menu.active {
  opacity: 0.7;
  visibility: visible;
}

.sub_menu {
  padding: 0px 20px;
}

.nav_item,
.sub_menu li {
  list-style: none;
}

.nav_item a {
  color: white;
  font-weight: bold;
}

.nav_item.sticky a {
  color: #315BB4;
  font-weight: bold;
}

.nav_item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;

  width: 100%;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_item > a:hover:after {
  transform: scaleX(1);
}

.nav_item.sticky a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;

  width: 100%;
  height: 2px;
  background:#27488e;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_item.sticky > a:hover:after {
  transform: scaleX(1);
}

.nav_item.active a {
  color: #315BB4;
  font-weight: bold;
}

.nav_item.active a:hover {
  color: black;
  font-weight: bold;
}

.ham_menu {
  width: 30px;
  border: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1200;
}

.ham_bar {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s ease;
  transform-origin: center;
  border-radius: 8px;
}

.ham_bar.sticky {
  background-color: #1b3364;
}

.ham_menu.active .ham_bar:nth-child(1) {
  transform: translate(0px, 8px) rotate(45deg);
  background-color: #1b3364;
}

.ham_menu.active .ham_bar:nth-child(2) {
  opacity: 0;
}

.ham_menu.active .ham_bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(-45deg);
  background-color: #1b3364;
}

/* Tablet View */
@media only screen and (min-width: 768px) {
  /* show menu inline */

  .nav_menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    backdrop-filter: blur(0px);
    opacity: 1;
    height: 100%;
    width: max-content;
    min-width: none;
    position: static;
    padding: 0px;
    border-radius: 0px;
    z-index: 1100;
    gap: 35px;
  }

  .nav_item {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    height: 75%;
  }

  .nav_item:hover .sub_menu {
    display: flex;
    flex-direction: column;
  }

  .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 15px 10px 15px;
    background-color: transparent;
    width: max-content;
    min-width: 175px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.48);
  }

  /* #97a3be */

  .sub_menu.sticky {
    background-color: white;
    box-shadow: 0 3px 12px rgba(0,0,0,0.24);
  }

  /* #D6DBE6 */

  .sub_menu a {
    transition: color 0s ease-out 250ms;
  }

  .sub_menu a:hover {
    color: #97A3BE;
  }

  /* hide hamburger menu */
  .ham_menu {
    display: none;
  }

}

/* Desktop View */
@media only screen and (min-width: 1024px) {


}

/* Desktop View (Big) */
@media only screen and (min-width: 1580px) {

  .navbar01 {
    height: 84px;
  }

  .navsec01 {
    width: 85%;
  }

  .nav_logo a img {
    width: 303px;
    height: 53px;
  }
  
}
