img.icon {
  height: 70px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.namecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  gap: 5px;
}

.namecard img {
  border-radius: 8px;
}

/* for future project
main hearder height 96px 
bar 1 56px
bar 2 40px
*/

/* navigation bar */
.navbar01 {
  height: 56px;
  width: 100%;
  max-width: 2000px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 1;
  z-index: 900;
}

.navbar01.sticky {
  background-color: white;
  border-bottom: 1px solid #97a3be;
}

.navsec01 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav_logo {
  width: 201.94px;
  height: 35px;
}

.nav_menu {
  display: flex;
  background-color: white;
  opacity: 1;
  height: 100vh;
  width: 40%;
  min-width: 250px;
  position: fixed;
  top: 0;
  right: -400px;
  padding: 56px 20px 0px 20px;
  transition: 0.3s ease;
  border-radius: 8px;
  z-index: 1100;
}

.nav_menu.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 0;
}

.off_menu {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.off_menu.active {
  opacity: 0.7;
  visibility: visible;
}

.sub_menu {
  padding: 0px 20px;
}

.nav_item a {
  color: white;
  font-weight: bold;
}

.nav_item.sticky a {
  color: #315BB4;
  font-weight: bold;
}

.nav_item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;

  width: 100%;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_item > a:hover:after {
  transform: scaleX(1);
}

.nav_item.sticky a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;

  width: 100%;
  height: 2px;
  background:#27488e;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_item.sticky > a:hover:after {
  transform: scaleX(1);
}

.nav_item.active a {
  color: #315BB4;
  font-weight: bold;
}

.nav_item.active a:hover {
  color: black;
  font-weight: bold;
}

.ham_menu {
  width: 30px;
  border: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1200;
}

.ham_bar {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s ease;
  transform-origin: center;
  border-radius: 8px;
}

.ham_bar.sticky {
  background-color: #1b3364;
}

.ham_menu.active .ham_bar:nth-child(1) {
  transform: translate(0px, 8px) rotate(45deg);
  background-color: #1b3364;
}

.ham_menu.active .ham_bar:nth-child(2) {
  opacity: 0;
}

.ham_menu.active .ham_bar:nth-child(3) {
  transform: translate(0px, -8px) rotate(-45deg);
  background-color: #1b3364;
}

/* hero-section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/TreeGrowth03.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.banner {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  color: white;
  font-size: 2.35rem;
  padding: 0px 50px;
}

/* container full width */
.sec01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container full width blue */
.sec02 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27488e;
}

/* container 90% width left - right */
.sec_inner01 {
  padding: 70px 0px;
  max-width: 1440px;
  width: 90%;
  display: block;
}

/* container 90% width up - down */
.sec_inner02 {
  padding: 70px 0px;
  max-width: 1440px;
  width: 90%;
}

.box01_pic {
  width: 100%;
}

.box01_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  display: block;
  border-radius: 8px;
}

.box01_wrdleft {
  width: 100%;
  padding: 0px 0px 20px 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.box01_wrdright {
  width: 100%;
  padding: 20px 0px 0px 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

/* 1box - 2box - 3box */
.box02 {
  display: block;
  width: 100%;
}

.box02a {
  padding: 20px 0px 0px 0px;
}

footer {
  background-color: #27488e;
}

.footsec01 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footinner01 {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  padding: 30px 0px 10px 0px;
  max-width: 1440px;
  width: 90%;
  border-bottom: 1px solid #97a3be;
}

.footinner02 {
  padding: 10px 0px 20px 0px;
  max-width: 1440px;
  width: 90%;
}

.footinner01 img {
  display: none;
}

/* Tablet View */
@media only screen and (min-width: 768px) {
  /* show menu inline */

  .nav_menu {
    display: flex;
    align-items: center;
    background-color: transparent;
    opacity: 1;
    height: 100%;
    width: max-content;
    min-width: none;
    position: static;
    padding: 0px;
    border-radius: 0px;
    z-index: 1100;
    gap: 35px;
  }

  .nav_item {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    height: 75%;
  }

  .nav_item:hover .sub_menu {
    display: flex;
    flex-direction: column;
  }

  .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 15px 10px 15px;
    background-color: #97a3be;
    width: max-content;
    min-width: 175px;
    border-radius: 8px;
    gap: 10px;
  }

  .sub_menu.sticky {
    background-color: #D6DBE6;
  }

  .sub_menu a {
    transition: color 0s ease-out 250ms;
  }

  .sub_menu a:hover {
    color: #1b3364;
  }

  /* hide hamburger menu */
  .ham_menu {
    display: none;
  }

  .box02 {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 10%;
  }

  .box02a {
    width: 40%;
    margin: 20px 0px;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }

  .hero-section {
    background-image: url("../pic_icon/TreeGrowth02.jpeg");
  }

  .sec_inner02,
  .footinner01,
  .footinner02 {
    width: 80%;
  }

  .sec_inner01 {
    width: 80%;
    display: flex;
    align-items: stretch;
  }

  .box01_wrdleft {
    padding: 0px 20px 0px 0px;
  }

  .box01_wrdright {
    padding: 0px 0px 0px 20px;
  }

  .box02 {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 5%;
  }

  .box02a {
    width: 30%;
    margin: 20px 0px;
  }

  .footinner01 img {
    display: inline;
  }
}

/* Desktop View (Big) */
@media only screen and (min-width: 1580px) {
  .navbar01 {
    height: 84px;
  }

  .navsec01 {
    width: 85%;
  }

  .nav_logo a img {
    width: 302.91px;
    height: 52.5px;
  }
}
